.preview {
  .ant-drawer-content-wrapper {
    width: 500px !important;
  }
}

.preview-card {
  width: 100%;
  border-color: #bababa;
  border-radius: 10px;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

.preview-image {
  margin-right: 15px;
  img {
    border-radius: 100%;
  }
}

h1,
h2 {
  margin: 0;
}

h1,
h2 {
  font-size: 18px;
}

h1 {
  font-weight: bold;
  color: #363636;
}

h2,
label {
  color: #48494b;
}
